<div class="sha-footer">
    <div>
        Copyright
        <span>
            <i class="fa fa-copyright"></i>
        </span> 2017-2018
    </div>
    <div>
        <a href="https://github.com/huynhsamha" target="_blank">
            huynhsamha <span><i class="fa fa-external-link"></i></span>
        </a>
        &nbsp;
        <a href="https://github.com/huynhsamha/node-oracle-sql" target="_blank">
            GitHub <span><i class="fa fa-github"></i></span>
        </a>
    </div>
</div>
