<div class="sha-header fixed-top">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="/" class="sha-title">
                API NodeJS - Oracle
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
            <a href="https://github.com/huynhsamha/node-oracle-sql" target="_blank">
                GitHub
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</div>
