html, body {
	height: 100%;
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	background-color: rgb(175, 223, 189);
}

a {
	text-decoration: none !important;
}

/* COMMON */
.sha-title {
	font-weight: 900;
}

/* HEADER */
.sha-header {
	background-color: rgb(0, 75, 79);
	color: white;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.sha-header a {
	color: white !important;
}
.sha-header a:hover {
	color: #fcff55 !important;
}
.sha-header .fa {
	margin-left: 5px;
}

/* FOOTER */
.sha-footer {
	background-color: rgb(2, 99, 69);
	text-align: center;
	height: 70px;
	font-size: 15px;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white !important;
	font-family: 'Nunito', sans-serif !important;
}
.sha-footer a {
	color: white !important;
}


/* BODY */
.sha-body {
	margin-top: 80px;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: white;
	border-radius: 20px;
}
.sha-body .sha-title {
	text-transform: uppercase;
	font-size: 32px;
}
